/* Universal selectors */

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Element selectors */
body {
    margin: 0
}

footer {
    background-color: plum;
    position: fixed;
    text-align: center;
    bottom: 0;
    height: 100px;
    width: 100%;
}
/* Class selectors */

.navbar {
    background-color: thistle;
    position: fixed;
    top: 0;
    width: 100%;
    /* margin-bottom: 40px;
    padding: 0 10px 0 10px; */
}

#todays-kitten {
    background-color: lightcoral;
    width: 100%;
    position: fixed;
    top: 100px;
    padding-top: 20px
}

#contact-form {
    background-color: violet
}

.items {
    display: inline;
    right: -50px
}

.aquamarine-background {
    background-color: mediumaquamarine;
}

/* ID selectors */
